*{
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.container-destination{
    margin-top:0px;
    left:0px;
  }
.destination-background{
    position: relative;
    max-width: 100%;
    position: fixed;
    width: 100%;
    max-height: 100vh;
    height: 100vh ;
    z-index: -1;
}
.destination-phonebackground{
    display: none;
}
.destination-tabletbackground{
    display: none;
}
 .pick-box{
    display: flex;
    margin-top:180px;
    margin-left: 145px;
    color:  rgb(160, 157, 157);
    cursor: pointer;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.one{
    margin-inline-end: 20px;
    color: rgb(104, 101, 101); 
}
.img-box{
    width:25% ;
    height: 48vh;
    margin-left: 220px;
    margin-top: 260px;
    position: absolute;
    justify-content: center;
    cursor: pointer;
}
.image{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: 20px;
}

.planet-details{
    float: right;
    margin-top: 50px;
    margin-right:200px ;
    width: 400px;
    height: 50vh;
    
}
.planet-option ul{
    display: flex;
    list-style: none;
    margin-left: 0px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.planet-option ul li{
    margin-inline: 5px;
    font-size: medium;
    color: rgb(151, 142, 142);
    cursor: pointer;
}
.hrMars{
    width: 10%;
    height: 0.1vh;
    background-color: white;
    margin-top: 0px;
    margin-left: 65px;
}
 .hrMars2{
    display: none;
} 
 .hrMoon{
    width: 10%;
    height: 0.1vh;
    background-color: white;
    margin-top: 0px;
    margin-left: 10px;
}
.hrMoon2{
    display: none;
} 
.hrEuropa{
    width: 13%;
    height: 0.1vh;
    background-color: white;
    margin-top: 0px;
    margin-left: 125px;
} 
 .hrEuropa2{
    display: none;
}
.hrTitan{
    width: 10%;
    height: 0.1vh;
    background-color: white;
    margin-top: 0px;
    margin-left: 195px;
}
.hrTitan2{
    display: none;
} 

.planet-name{
    font-size: 85px;
    margin-top: 10px;
    color: white;
}
.destination-details{
    margin-top: -10px;
 
}
.planet-content{
    width: 100%;
    margin-top: 10px;
    color: rgb(151, 142, 142);
    line-height: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.planet-line{
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
}

.plan{
    color: rgb(105, 103, 103);
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.average-distance{
    font-size: x-small;
    margin-bottom: 5px;
    color: rgb(151, 142, 142);;
    
}
.distance{
    color: rgb(226, 215, 215);
}
.plan2{
    color: rgb(151, 142, 142);
    margin-top: -35px;
    margin-left: 140px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.estimate{
    font-size: x-small;
    margin-bottom: 5px;
    color: rgb(151, 142, 142);;
}
.travel-time{
    color: rgb(226, 215, 215);
}
@media screen and (max-width:1280px){
    .img-box{
        margin-left: 160px;
    }
    .planet-details{
        margin-right:150px ;       
    }
}
@media screen and (max-width:1280px){
    .img-box{
        margin-left: 110px;
    }
    .planet-details{
        margin-right:110px ;       
    }
}

@media screen and (max-width:1024px) {
    .img-box{
        margin-left: 70px;
    }
    .planet-details{
        margin-right:20px ;       
    }
}
@media screen and (max-width:900px) {
    .img-box{
        margin-left: 20px;
    }
    .planet-details{
        margin-right:20px ;       
    }
    .pick-box{
        margin-left: 65px;
    }
}

    @media screen and (max-width: 768px) {
        .destination-background{
            display: none;
        }
        .destination-tabletbackground{
            display: inline-block;
            position: relative;
            max-width: 100%;
            position: fixed;
            width: 100%;
            max-height: 100vh;
            height: 100vh ;
            z-index: -1;
        }
        .container-destination{
            margin-top:0px;
            left:0px;
            text-align: center;
          }
        .img-box{
            margin-left: 250px;
            margin-top: 750px;
        }
        .image{
            width: 200px;
            height: 200px;
        }
        .pick-box{
            margin-left: 85px;
            margin-top: 170px;
        }
        .planet-details{
            margin-top: 70px;
            width: 450px;
            height: 40vh;
            margin-right: 150px;
        }
    
        .planet-option ul{
            margin-left: 5px;
        }
        .planet-option ul li{
            margin-inline: 15px;
            font-size: 25px;
        }
        .hrMars{
            width: 14%;
            margin-left: 130px;
        }
 
         .hrMoon{
            width: 14%;
            margin-left: 30px;
        }
        .hrEuropa{
            width: 20%;
            margin-left: 230px;
        } 
        .hrTitan{
            width: 14%;
            margin-left: 360px;
        }
        
        .planet-name{
            font-size: 125px;
            margin-top: 10px;
            color: white;
        }
        .destination-details{
            margin-top: -10px;
         
        }
        .planet-content{
            width: 100%;        
            line-height: 25px;
        }
        .planet-line{
            width: 90%;
            margin-top: 30px;
            margin-left: 25px;
        }
        
        .plan{
            margin-left: -220px;
        }
        .average-distance{
            font-size:small;
            
        }
        .distance{
            font-size: 25px;
            color: rgb(226, 215, 215);
        }
        .plan2{
            margin-top: -50px;
            margin-left: 200px;
        }
        .estimate{
            font-size: small;
        }
        .travel-time{
            font-size: 25px;
            color: rgb(226, 215, 215);
        }
    }
    @media screen and (max-width: 720px) {
        .img-box{
            margin-left: 250px;
            margin-top: 750px;
        }
        .planet-details{
            margin-right: 120px;
        }
    }
    @media screen and (max-width: 680px) {
        .img-box{
            margin-left: 200px;
            margin-top: 750px;
        }
        .planet-details{
            margin-right: 110px;
        }
    }
    @media screen and (max-width: 620px) {
        .img-box{
            margin-left: 200px;
            margin-top: 750px;
        }
        .planet-details{
            margin-right: 80px;
        }
    }
    @media screen and (max-width: 590px) {
        .img-box{
            margin-left: 180px;
            margin-top: 750px;
        }
        .planet-details{
            margin-right: 60px;
        }
    }
    @media screen and (max-width: 550px) {
        .img-box{
            margin-left: 160px;
            margin-top: 750px;
        }
        .planet-details{
            margin-right: 50px;
        }
    }
    

    @media screen and (max-width:450px) {
        
        .destination-phonebackground{
            display: inline-block;
            position: relative;
            position: fixed;
            max-width: 100%;
            width: 100%;
            max-height: 100vh;
            height: 100vh ;
            z-index: -1;
    
        }
        .destination-tabletbackground{
            display: none;
        }
        .pick-box{
            margin-left: 35px;
            margin-top: 50px;
        }
        .img-box{
            margin-left: 100px;
            margin-top: 670px;
            position: absolute;
        }
        .container-destination{
            margin-top:0px;
            left:0px;
            text-align: center;
          }
        .image{
            width: 200px;
            height: 200px;
        }
        .planet-details{
            margin-top: 50px;
            margin-right: 40px;
            width: 85%;
            height: 45vh;
            text-align: center;
        }
        .planet-option ul{
            margin-left: 0px; 
                    
        }
        .planet-option ul li{
            margin-inline: 10px;
            font-size: 22px;
        }
        .planet-name{
        font-size: 95px;
        margin-left: 10px; 
        
        }
        .planet-content{
            text-align: center;
            width: 95%;
            height: 16vh;
            margin-left: 10px;
            font-size: 18px;
            margin-top: 10px;
            color: rgb(151, 142, 142);
            line-height: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .plan{
            color: rgb(105, 103, 103);
            margin-top: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-left: -170px;
        }
        .planet-line{
            margin-top: 40px;
        }
        
        .plan2{
            color: rgb(151, 142, 142);
            margin-top: -50px;
            margin-left: 180px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        }
        .hrMars{
            width: 14%;
            margin-left: 100px;
        }
 
         .hrMoon{
            width: 16%;
            margin-left: 12px;
        }
        .hrEuropa{
            width: 20%;
            margin-left: 180px;
        } 
        .hrTitan{
            width: 16%;
            margin-left: 285px;
        }
        
    } 
    @media screen and (max-width: 400px) { 
        .planet-option ul{
            margin-left: -10px;                    
        }
        .img-box{
            margin-left: 70px;
            margin-top: 670px;
            position: absolute;
        }
        .planet-line{
            margin-top: 80px;
        }

    }
    @media screen and (max-width: 370px) { 
        .planet-option ul{
            margin-left: -15px;                    
        }
        .img-box{
            margin-left: 70px;
            margin-top: 670px;
            position: absolute;
        }
        .hrMars{
            width: 18%;
            margin-left: 85px;
        }
 
         .hrMoon{
            width: 18%;
            margin-left: 0px;
        }
        .hrEuropa{
            width: 25%;
            margin-left: 165px;
        } 
        .hrTitan{
            width: 18%;
            margin-left: 275px;
        }
        .planet-line{
            margin-top: 80px;
        }
        .img-box{
            margin-left: 60px;
            margin-top: 670px;
            position: absolute;
        }
    }
    /* @media screen and (max-width: 420px) {  
        .destination-phonebackground{
            display: inline-block;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0px;
        position: fixed;
        margin-top: -90px;
        z-index: -1;
    
        }  
        .planet-content{
            font-size: medium;
            width: 55%;
            height: 15vh;
            margin-left: -10px;
        }
        .planet-line{
            width: 50%;
            margin-top: 70px;
            margin-left: -5px;

        }
        .planet-name{
            font-size: 70px;
            margin-left: 50px; 
            }
            .planet-option ul{
                margin-left: -10px;
               
            }
            .hrTitan{          
                margin-left: 220px;
            }
            .hrEuropa{
                 margin-left: 155px;
            }
            .hrMars{
                margin-left: 95px;
            }
            .hrMoon{
                margin-left: 35px;
            }
        .plan2{
            margin-left: 210px;
        }
        .img-box{
            margin-left: 40px;
           
        }
    }
    /*
    @media screen and (max-width: 410px) {
        .destination-phonebackground{
            position: fixed;
        }
    }
    @media screen and (max-width: 390px) {
        .destination-phonebackground{
            display: inline-block;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0px;
        position: fixed;
        margin-top: -90px;
        z-index: -1;
    
        }

          .planet-content{
            margin-left: 0px;
        }
        .planet-line{
            margin-left: 10px;

        }
        .planet-name{
            font-size: 70px;
            margin-left: 60px; 

            }
            .planet-option ul{
                margin-left: 0px;
               
            }
            .hrTitan{          
                margin-left: 230px;
            }
            .hrEuropa{
                 margin-left: 165px;
            }
            .hrMars{
                margin-left: 105px;
            }
            .hrMoon{
                margin-left: 45px;
            }
        .plan2{
            margin-left: 210px;
        }
        .img-box{
            margin-left: 60px;
            margin-top: 300px;
           
        }
        .plan{
            margin-left: 20px;
        }
    }
        @media screen and (max-width: 380px) {
            .img-box{
                margin-left: 60px;
                margin-top: 250px;
               
            }
            .image{
                width: 180px;
                height: 180px;
            }
        }
    @media screen and (max-width: 370px) {   
        .planet-content{
            margin-left: 10px;
        }
        .planet-line{
            margin-left: 20px;
            margin-top: 70px;

        }
        .planet-details{
            margin-top: -410px;
            margin-right: -250px;
        }
            .planet-option ul{
                margin-left: 0px;
               
            }
            .hrTitan{          
                margin-left: 230px;
            }
            .hrEuropa{
                 margin-left: 165px;
            }
            .hrMars{
                margin-left: 105px;
            }
            .hrMoon{
                margin-left: 45px;
            }
        .plan2{
            margin-left: 240px;
        }
        .img-box{
            margin-left: 90px;
            margin-top: 280px;
           
        }
        .image{
                width: 160px;
                height: 160px;
        }
        .plan{
            margin-left: 20px;
        }       
        .pick-box{
            display: flex;
            margin-top:450px;
            margin-left: 105px;
            color:  rgb(177, 171, 171);
        }
    } */



