nav{
    display: inline-block;
    margin: 0px;
    position: absolute;
    width: 100%; 
    height: 10vh; 
    margin-left: -27px;
    position: fixed;
}
.icon{
    margin-top: 50px;
    margin-left: 60px;
}
.hr{
    position: absolute;
    margin-top: -30px;
    margin-left: 160px;
    width: 480px;
    height: -1vh;
    filter: opacity(20%);
}
.nav-box{
    position: absolute;
    width: 55%;
    height: 10vh;
    margin-left: 617px;
    background-color: gray ;
    display: flex;
    margin-top: -60px;
    /* filter: opacity(40%); */
}
.nav-list{
    display: flex;
    list-style: none;
    color: white;
    margin-left: 30px;
    margin-top: 25px;
}
.nav-list li{
    display: flex;
    margin-inline: 20px;
    cursor: pointer;
    text-decoration: none;
} 
.nav-list li .Link{
    color: white;
    text-decoration: none;
}
.hamburger{
   display: none;

}
.dropdown{
    display: none;
}
.close-icon{
    display: none;
}
@media screen and (max-width: 1024px){
.nav-box{
    width: 54.7%;
    margin-left: 447px;
}
.nav-list{
    margin-left: 30px;
}
}
@media screen and (max-width: 980px){
    .nav-box{
        margin-left: 370px;
        width: 55%;
        margin-top: -60px;
        height: 9vh;
    }
    .nav-list{
        margin-left: -20px;
    }
}
@media screen and (max-width: 880px){
    .nav-box{
        margin-left: 340px;
        width: 55%;
        margin-top: -60px;
        height: 9vh;
    }
    .nav-list{
        margin-left: -10px;
    }
    .nav-list li{
        display: flex;
        margin-inline: 10px;
        cursor: pointer;
        text-decoration: none;
    }

}
@media screen and (max-width: 768px){
.nav-box{
    margin-left: 300px;
    background-color: rgb(1, 1, 36);
    width: 60%;
    margin-top: -72px;
    height: 15vh;
}
.hr{
    display: none;
   }
   .icon{
    margin-top: 20px;
   }
   .nav-list{
    margin-left: -30px;
   }
   .nav-list li{
    margin-top: 0px;
    font-size: large;
} 

}
@media screen and (max-width: 500px){
    nav{
        display: inline-block;
        margin: 0px;
        position: absolute;
        width: 100%; 
        height: 10vh; 
        margin-left: -27px;
     
        /* position: fixed; */
    }
    .nav-box{
        width: 80%;
        margin-top: -72px;
        height: 13vh;     
    }
    .nav-list li{
        margin-inline: 10px;
        margin-left: 0px;

    }
    .hr{
     display: none;
    }
}
@media screen and (max-width: 450px){
    .nav-box{display: none;}

    .hamburger{
        display: inline-block;
        margin-left: 320px; 
        width: 10px;
        height: 1vh; 
        padding: 20px ; 
        justify-content: space-around;
        margin-top: 0px;
        position: fixed;
        /* background-color: blue; */
    }
    .ham-icon{
        width: 100px;
        height: 100px;
        justify-content: space-around;
        margin-left: -5px;
    } 
    .icon{
        margin-top: 10px;
        margin-left: 40px;
        width: 50px;
        height: 50px;
        position: fixed;
    } 
    nav{
        display: inline-block;
        margin: 0px;
        position: relative;
        width: 100%; 
        height: 10vh; 
        /* background-color: rgb(226, 43, 217); */
        z-index: 1;
    } 
    .ham-icon-hidden{
        display: none;
    }

    .close-icon-hidden{
        display: none;
    }
    .close-icon{
       display: inline-block;
    }
    .dropdown-hidden{
        display: none;
    }
    .dropdown{
        width: 50%;
        height: 30vh;
        background-color: black;
        border: 1px solid none;
        border-top: none;
        filter: opacity(80%);
        display: inline-block;
        position: fixed;
        margin-top: 70px;
        margin-left: 36px;
        z-index: -1;
    }
    .nav-lists .Links{
        color: white;
        line-height: 50px;
        text-decoration: none;
        list-style: none;
    }
}
@media screen and (max-width:435px){
    .hamburger{
        margin-left: 330px;   

    }
    .dropdown{
        margin-left: 210px;
        width: 50%;
    
    }
}

@media screen and (max-width:410px){
    .hamburger{
        margin-left: 300px;   
    }
}
.dropdown{
    margin-left: 230px;
    width: 50%;

}
@media screen and (max-width:375px){
    .hamburger{
        margin-left: 280px;
    }
    .dropdown{
        margin-left: 175px;
        width: 50%;
    }
}
@media screen and (max-width:350px){
    .hamburger{
        margin-left: 250px;
    }
    .dropdown{
        margin-left: 155px;
        width: 50%;
    }
}