.container{
  margin-top:-10px;
  left:0px;
  /* position: relative; */
  
}
.home-background{
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  height: 100vh ;
  z-index: -1;
}

.space-box{
  position: absolute;
  margin-top: -350px;
  width: 290px;
  height: 37vh;
  color: white;
  margin-left: 140px;
}
.so{
  font-size:medium;
  color: rgb(177, 171, 171);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.space{
  font-size: 95px;
  margin-top: 10px;
}
.content{
  font-size: small;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 20px;
  color: rgb(177, 171, 171);
}
.explore_circle{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: white;
  margin-top: -320px;
  position: absolute;  
  color: rgb(41, 38, 38);
  margin-left: 900px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.explore{
 margin: 90px auto; 
 font-size: xx-large;
 font-weight: lighter;
}
